-extends "public_base.haml"

-block content
  #homepage
    .container-fluid: .container
      -include "components/banner.haml"

    .container
      .row

        .span4
          -include "components/commentary.haml"
