-extends "private_base.haml"

-set title = "Manager Dashboard"

-block content
  %p.lead Summary
  %table.table.table-bordered
    %thead
      %th
        %i.icon-user
        Assistant
      %th
        Assistant ID
      %th
        Assigned activity
      %th

      %th

      %th

    %tbody
      -for assistant in current_account.get_Assistant()
        %tr
          %td
            %a(href="") #{assistant.name}
          %td
            %a(href="") #{assistant.assistant_id}
          %td
            %a(href="") 0
          %td
            %a(href="") 0
      -else
        %tr: %td(colspan="4")
          No Assistants